* {
  margin: 0;
  padding: 0;
}
a:hover {
  color: #aa5454;
}
ul,li,ol {
  list-style: none;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#header-area button {
  background: #c98888;
  color: #fff;
  border: 0;
}
#header-area button:hover {
  border: 0;
  background: #b87979;
}
#header-area img {
  width: 65px;
}


#footer {
  height: auto;
  background: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 3rem;
  padding: 50px 0;
}
#footer a {
  text-decoration: none;
  color: #333;
}
#footer-area {
  width: 1024px;
  height: 100%;
  display: flex;
}
#footer-area .footer-logo {
  display: flex;
  width: 20%;
}
#footer-area .footer-txt {
  display: flex;
}
#footer-area .footer-txt li {
  margin-bottom: 8px;
}
#footer-area .fnb span {
  padding-right: 30px;
}


#body {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}
#body > h2 {
  margin-top: 16px;
}

#banner {
  height: 300px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  width: 180px;
  margin-right: 21px;
  margin-bottom: 12px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 12px;
  overflow: hidden;
}
.product-link{
  color:#333;
  text-decoration: none;
}
.product-img-box {
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.product-img:hover {
  scale: 1.1;
}
.product-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.product-seller {
  display: flex;
  align-items: center;
}
.product-avatar {
  width: 24px;
  padding-right: 5px;
}
.product-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-date{
  font-size: 12px;
  color:#889;
}